
  <header class="min-h-[117px] 
  flex flex-wrap justify-between items-center 
  px-3  bg-white w-full
  fixed bottom-0
  sm:sticky sm:top-0
  z-[1]
  ">
    <a class="flex-none" href="/#intro">
      <span class="text-[#073E29] text-[2rem]">T</span>
      <span class="text-[#073E29] text-[2rem]">F</span>
      <span class="text-gray-400 text-[2rem] font-extralight"> | Codevty</span>
    </a>
    <nav class="flex-1 absolute inset-x-1/2">
      <ul class="flex  justify-center">
        @for (tab of tabs; track $index) {
        <li class="py-3 px-5">
          <a class="text-lg font-medium" [href]="tab.url">{{tab.title}}</a>
        </li>
        }
      </ul>
    </nav>
  </header>
  <main>
    <!-- intro -->
    <section id="intro" class="  bg-[#FEF3DF] px-[5.5rem] pt-[5.5rem] scroll-mt-[100vmax]">
      <div class="mx-auto max-w-[1170px]  flex gap-4 flex-col md:flex-row">
        <div class="flex-1 pb-16">
          <h1 class="text-[clamp(1.6rem,4vmax,3rem)] leading-tight ">
            <span class="text-[#073E29] text-[1.6rem]">Tayyab Fareed </span> <span class="text-gray-400 text-[1.6rem]">|
              Codevty</span>
            <br>
            From Interface Charm to Backend Brilliance
          </h1>
          <p class="mt-3">I'm ready to transform your digital vision into reality. Together, let's build the future of the
            web!</p>
          <a type="button" href="#contact" class="text-white bg-[#073E29] px-4 py-3 font-bold mt-8">
            Let's get in touch
          </a>
        </div>
        <div class="flex-1 md:-mb-16 order-1">
          <img class="mx-auto" height="520" width="356" ngSrc="assets/images/tayyab-codevty.jpg" alt="image">
  
        </div>
      </div>
    </section>
    <!-- skills -->
    <section id="skills" class="pt-[6.25rem] pb-[5rem] scroll-mt-[6rem]">
      <div class="mx-auto max-w-[1170px]">
        <header>
          <h2 class="text-[2.5rem] leading-tight text-center">Technologies in my ever growing toolkit</h2>
          <!-- <p class="text-center mt-4">May I add you to the list?</p> -->
        </header>
        <div class="flex flex-wrap mt-5">
          <ng-container *ngFor="let skill of skills">
            <div class=" p-4 flex items-center justify-center tooltip">
              <p class="tooltiptext shadow-2xl text-sm"><span
                  class="text-lg">{{skill.title}}</span><br>{{skill.description}}</p>
              <a [href]="skill.url" target="_blank" [ariaLabel]="skill.title" [ariaDescription]="skill.description">
                <i class="text-[3rem]" [class]="skill.icon"></i>
              </a>
  
            </div>
          </ng-container>
  
        </div>
      </div>
    </section>
    <!-- about -->
    <section id="about" class="px-5 py-[5rem] bg-[#F7F9F4] scroll-mt-[6rem]">
      <div class="mx-auto max-w-[1170px] flex gap-12 ">
        <div class="flex-1">
          <img class="mx-auto" height="494" width="494" ngSrc="assets/images/tayyab-codevty.jpg">
  
        </div>
        <div class="flex-1 pt-8">
          <h2 class="text-[2.5rem] leading-tight">Hi I'm Tayyab Fareed.</h2>
          <p class="leading-loose ">Welcome to my digital playground! I'm a passionate and versatile Full Stack
            Web Developer with a knack for turning ideas into immersive online experiences. Whether it's coding on the
            backend, designing intuitive user interfaces, or optimizing for seamless performance, I thrive on the
            challenges of the ever-evolving web landscape.</p>
          <br>
          <p class="leading-loose ">As a technology enthusiast, I blend creativity with functionality to build robust and
            scalable web applications. My journey involves mastering a spectrum of tools and technologies, from crafting
            server-side logic to perfecting the pixels on the front end. Innovation is my compass, and I navigate the
            digital realm with a commitment to excellence.</p>
        </div>
      </div>
    </section>
    <!-- projects -->
    <section id="projects" class="px-5 py-[5rem] scroll-mt-[6rem]">
      <div class="mx-auto max-w-[1170px] ">
        <h2 class="text-[2.5rem] leading-tight text-center mb-10">Some of my projects</h2>
        <div class="grid grid-cols-3 gap-4">
  
          <article *ngFor="let project of projects" class="flex flex-col items-center justify-center gap-5 p-16 bg-[#E6EBE4]">
            <img width="100" height="82" class="mx-auto"
              [ngSrc]="project.logo" [alt]="project.title">
            <h3 class="text-[1.4rem] font-medium leading-tight text-center">{{project.title}}</h3>
            <p class="leading-loose  text-center">{{project.description}}</p>
            <a type="button" [href]="project.url" target="_blank"
              class="px-4 py-3 font-bold mt-8 bg-transparent border border-solid  hover:text-white hover:bg-gray-800 transition-all">
              I want to know more
          </a>
          </article>
        </div>
      </div>
    </section>
    <!-- reviews -->
    <section id="reviews" class="px-5 py-[5rem]  bg-slate-50 scroll-mt-[6rem]">
      <div class="mx-auto max-w-[1170px] ">
        <h2 class="text-[2.5rem] leading-tight text-center mb-10">What people say about me?</h2>
        <div class="grid grid-cols-3 gap-4">
          <article *ngFor="let review of reviews"
          class="flex flex-col items-center justify-center gap-5 p-10 border border-[var(--border-light)]">
          <img width="40" height="28" class="mx-auto"
            ngSrc="assets/images/icons/quote.png">
          <p class="leading-loose  text-center">{{review.quote}}</p>
          <h3 class="text-[1.4rem] font-medium leading-tight text-center">{{review.person}}</h3>
          <p class="leading-loose text-sm text-center">{{review.designation}}</p>
        </article>
        </div>
      </div>
    </section>
    <!-- contact -->
    <section id="contact" class="  p-[5.5rem] max-h-[100vh] bg-[#FEF3DF] scroll-mt-[6rem]">
      <div class="mx-auto max-w-[1170px] flex gap-10">
        <div class="flex-auto">
          <h2 class="text-xl font-semibold mb-4">Let's get in touch</h2>
          <h3 class="text-[clamp(1.5rem,4vmax,2.5rem)] leading-tight">Let's talk about you & your challenges.</h3>
          <section class="mt-10">
            <h4 class="text-xl font-semibold mb-8">Contact Information</h4>
            <div class="flex flex-col gap-5">
              <div class="flex gap-3">
                <div><i class="fas fa-envelope text-xl"></i></div>
                <div><a href="mailto:to.tayyabfareed@gmail.com"
                    class="text-lg font-light">{{'to.tayyabfareed@gmail.com'}}</a></div>
              </div>
              <div class="flex gap-3">
                <div><i class="fas fa-phone text-xl"></i></div>
                <div><a href="tel:+923145567657" class="text-lg  font-light">{{'+923145567657'}}</a></div>
              </div>
            </div>
          </section>
        </div>
        <div class="flex-[47%] md:-mb-16 order-1">
          <section class="bg-white w-full p-10 shadow-2xl">
            <h3 class="text-[clamp(1.5rem,4vmax,2.5rem)] leading-tight">Send me a message</h3>
            <form class="mt-5 flex flex-col gap-4">
              <div class="flex flex-col gap-1">
                <label for="full_name">Your name</label>
                <input name="full_name" type="text" placeholder="Enter your full name here"
                  class="bg-[#E0F1F1] h-[3.75rem]  px-4 py-6 placeholder:font-light placeholder:text-500-900 outline-none">
              </div>
              <div class="flex flex-col gap-1">
                <label for="email_address">Your email address</label>
                <input name="email_address" type="text" placeholder="Enter your email address here"
                  class="bg-[#E0F1F1] h-[3.75rem]  px-4 py-6 placeholder:font-light placeholder:text-500-900 outline-none">
              </div>
              <div class="flex flex-col gap-1">
                <label for="phone_number">Your phone number</label>
                <input name="phone_number" type="text" placeholder="Please fill in your phone number"
                  class="bg-[#E0F1F1] h-[3.75rem]  px-4 py-6 placeholder:font-light placeholder:text-500-900 outline-none">
              </div>
              <div class="flex flex-col gap-1">
                <label for="message">Your message</label>
                <textarea name="message" type="text" placeholder="What do you need help with?"
                  class="bg-[#E0F1F1] h-[3.75rem]  px-4 py-6 placeholder:font-light placeholder:text-500-900 outline-none min-h-[10rem]"></textarea>
              </div>
              <div>
                <button class="text-white bg-[#073E29] px-4 py-3 font-bold mt-2 w-full">
                  Send message
                </button>
              </div>
            </form>
          </section>
  
        </div>
      </div>
    </section>
  </main>
